@model Elimar.Models.Elimar
@{
    ViewBag.Title = "Elimar";
    Layout = "~/Views/Portolo/Shared/_Layout.cshtml";
}


<head>
    <title>Elimar Systems</title>
    <link rel="stylesheet" type="text/css" href="css/App4Min.css">
    <style>
        header
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            padding: 10px 15px;
            box-shadow: 0 1px 5px #00000040;
        }

        .validate
        {
            padding-left: 6px;
        }
    </style>

</head>
<body>
    <form method="post" action="./default.aspx" onsubmit="javascript:return WebForm_OnSubmit();" id="form1">
        <div style="width: 628px; height: 394px; position: absolute; transform: none; backface-visibility: visible; visibility: hidden; z-index: 3002; left: 326px; top: 87px; display: none;">
            <div style="display: none;"><div class="rwTitleWrapper"><span class="rwIcon"></span><h6 unselectable="on" class="rwTitle">&nbsp;</h6><ul class="rwCommands"></ul></div></div><div id="rwLogin_C" style="height: 384px;" class="rwContent">

                <div id="rwLogin_C_UpdatePanel4">
                    <div>
                        <table style="background-color: white; margin: 0 auto;">
                            <tbody>
                                <tr>
                                    <td style="padding-top: 15px; text-align: center">
                                        <img id="rwLogin_C_imgLogo" class="Rounded" src="Images/CommonImages/220401_125659logo1.png" style="height: 85px; object-fit: cover;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 25px;">
                                        <div id="rwLogin_C_pnlButon" class="centered" onkeypress="javascript:return WebForm_FireDefaultButton(event, 'rwLogin_C_cmdLoginSave')">

                                            <table>

                                                <tbody>
                                                    <tr>
                                                        <td style="text-align: right">
                                                            <span id="rwLogin_C_lblUserNameLabel">Account or Email Address:</span>
                                                        </td>
                                                        <td style="text-align: left; padding-left: 5px">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="height: 5px"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: right">
                                                            <span id="rwLogin_C_lblPasswordLabel">Password:</span>
                                                        </td>
                                                        <td style="text-align: left; padding-left: 5px">
                                                            <span id="rwLogin_C_txtPassword_wrapper" class="riSingle RadInput RadInput_Default" style="width:300px;"><input id="rwLogin_C_txtPassword" name="rwLogin$C$txtPassword" size="20" maxlength="20" class="riTextBox riEnabled txtRequired Font11" tabindex="1" type="password"><input id="rwLogin_C_txtPassword_ClientState" name="rwLogin_C_txtPassword_ClientState" type="hidden" autocomplete="off" value="{&quot;enabled&quot;:true,&quot;emptyMessage&quot;:&quot;&quot;,&quot;validationText&quot;:&quot;&quot;,&quot;valueAsString&quot;:&quot;&quot;,&quot;lastSetTextBoxValue&quot;:&quot;&quot;}"></span><img src="/images/icons/eye.gif" id="rwLogin_C_eyeicon" onclick="ShowPassword()" style="padding-left: 5px">
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td colspan="2" style="color: Red; text-align: center">
                                                            <span id="rwLogin_C_lblFailureText"></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" style="padding-top: 20px; text-align: center">
                                                            <input type="submit" name="rwLogin$C$cmdLoginSave" value="Sign In" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;rwLogin$C$cmdLoginSave&quot;, &quot;&quot;, true, &quot;Login1&quot;, &quot;&quot;, false, false))" id="rwLogin_C_cmdLoginSave" tabindex="2" title="Enter an account ID and password then click here to sign in" class="btnOrange" style="width:100px;cursor: pointer;">
                                                            <input type="submit" name="rwLogin$C$cmdLoginCancel" value="Cancel" id="rwLogin_C_cmdLoginCancel" class="btnOrange" style="width:100px;cursor: pointer;">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" style="padding-top: 20px; text-align: center">
                                                            <span class="CheckBox"><input id="rwLogin_C_ckRemember" type="checkbox" name="rwLogin$C$ckRemember" checked="checked"><label for="rwLogin_C_ckRemember">Remember me next time</label></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div><div class="rwStatusBar" style="display: none;"><input id="rwLogin_status" readonly="" unselectable="on" tabindex="-1"></div>
        </div>
        <div class="aspNetHidden">
            <input type="hidden" name="ScriptManager11_TSM" id="ScriptManager11_TSM" value=";;System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35:en-US:14a9c2eb-bf69-4b0e-9aa0-eb85640f0e43:ea597d4b:b25378d2;Telerik.Web.UI, Version=2017.3.913.45, Culture=neutral, PublicKeyToken=121fae78165ba3d4:en-US:03e3fdef-45f6-40a0-88ab-9645d53a0f37:16e4e7cd:f7645509:24ee1bba:f46195d3:874f8ea2:b2e06756:92fe8ea0:fa31b949:4877f69a:33715776:c128760b:19620875:490a9d4e:b7778d6c;">
        </div>

        <header>
            <img id="imgLogoHeader" src="https://www.elimarsystems.com/Images/CommonImages/220401_125659logo1.png" style="height: 60px;">

            <input type="submit" name="cLogin" value="Sign In" id="cLogin" class="btnOrange" style="cursor: pointer;">
        </header>
        <div style="margin:25px">
            <span id="lblContent">
            </span>
        </div>

        <div id="rwLogin" class="borderLessDialog" style="display:none;">
        </div>
    </form>
</body>
