@model IEnumerable<Elimar.Models.UsersquestionResponse>

    @{
        ViewBag.Title = "Scorecards";
        Layout = "~/Views/Portolo/Shared/_Layout.cshtml";
    }




    <!DOCTYPE html>
    <html>
    <head>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css">


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>

        
<div class="body-main-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 style="color: orange;">Score card</h1>
                    <div class="prof-info">
                        <div class="card">

                            <form action="/Dashboard/Scorecard" method="post" enctype="multipart/form-data"
                                onsubmit="callAjax(e);">

                                <table id="myTable" class="cedvel table table-striped table-bordered table-sm"
                                    style="width: 95% !important; max-width: 400% !important">
                                    <tr>
                                        <th>
                                            Questions
                                        </th>
                                    </tr>
                                @foreach (var item in Model)
                                {
                                        <tr>
                                        @*
                                            <td>

                                            @Html.DisplayFor(modelItem => item.pkey)
                                            </td>*@
                                            <td>
                                            @Html.DisplayFor(modelItem => item.questions)
                                                <br>
                                                <div>
                                                    <input type="number" name="ratingscore" id="ratingscore" style="width: 50px;"
                                                    min="0" max="5" value="@item.ratingscore"
                                                    onchange="func_v(this.value,@item.pkey)">
                                                </div>
                                            </td>

                                        </tr>
                                }
                                </table>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		</div>  		




        <script>
            function func_v(val, Model) {
            
                if (val > 5) {
                    $('#ratingscore').val(5);
                    alert("Rating Can't Be More Then 5.")
                    window.location.reload();
                    return false;
                }
                else if (val % 1 !== 0) {
                    alert("Rating Can't Be In Decimal.")
                    window.location.reload();
                    return false;
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: "@ViewBag.Baseurl/Dashboard/Insertupdatescore",
                        data: {
                            ratingscore: val,
                            questions: Model
                        },
                        success: function (result) {
                            alert("Rating updated Successfully!")
                        },
                        error: function (result) {
                           
                            alert('error');
                        }
                    });
                }
            }

        </script>
    </body>
</html>

