@using Kendo.Mvc.UI
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/kendo.common-material.min.css" rel="stylesheet" type="text/css" />
<link href="/Content/kendo.material.min.css" rel="stylesheet" type="text/css" />
<link href="/Css/multiple-select.css" rel="stylesheet" />
<script src="/Scripts/kendo/2021.3.1207/kendo.all.min.js" type="text/javascript"></script>
<script src="/Scripts/kendo/2021.3.1207/kendo.aspnetmvc.min.js" type="text/javascript"></script>
<script src="/Scripts/multiple-select.js" type="text/javascript"></script>
<link href="/Css/KendoCustom.css" rel="stylesheet" />
<div class="container-fluid">

</div>