<div>
    <table style="width:230px">
        <tr>

            <td>
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/Table_Setting/Table_Setting">Look Up List</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/Table_Setting/Table_Setting">Global Setting</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/Table_Setting/Table_Setting">Registration Setting</a>
            </td>
        </tr>
        <tr>
            <td><a href="/Table_Setting/Table_Setting">Event Role</a></td>
        </tr>
        <tr>
            <td><a href="/Table_Setting/Table_Setting"> Active Events</a></td>
        </tr>
        <tr>
            <td><a href="/Table_Setting/Table_Setting"> Active Series</a></td>
        </tr>
        <tr>
            <td><a href="/Table_Setting/Table_Setting"> Credit Card Setting</a></td>
        </tr>
    </table>
</div>