@{
    ViewBag.Title = "Reset Password";
    Layout = null;
}
    
<head>

    <script type="text/javascript" language="javascript">
        $(document).ready(function () {

        });

        function validateInputs(e) {
           
            var Password = $.trim($('#newpassword').val());
            var ConfirmPassword = $.trim($('#confirmpassword').val());
           
            if (Password == "") {
                $("#newpassword").focus();
                alert("Please Fill Password");
                return false;
            }
            else if (ConfirmPassword == "") {
                $("#confirmpassword").focus();
                alert("Please Fill Confirm Password");
                return false;
            }
            else if (Password != ConfirmPassword) {
                $("#newpassword").focus();
                $("#confirmpassword").focus();
                alert("Password and ConfirmPassword value not match.");
                return false;
            }
            alert("New password is generate");
        }

    </script>
</head>
@using (Html.BeginForm("ResetPassordbyEmail", "Account", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "validateInputs(e)" }))
{

   <div class="form-horizontal">
    <h4>Reset Password</h4>
    <div stye="padding:" padding>
        <label>New Password</label>
        <br />
        <input type="password" name="newpassword" id="newpassword" style=" width: 200px;" />
        <br />
        <label>Confirm Password</label>
        <br />
        <input type="password" name="confirmpassword" id="confirmpassword" style=" width: 200px;" />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" onclick="return validateInputs(event);" />
            </div>
        </div>
    </div>
</div>
}
