<div class="pe-md-0 mb-3 mt-3 mt-md-0 mb-md-0 order-md-0 order-1 magiMainLeftSideBar" >
    <div class="magi-left-sidebar-box1 p-2">
        <h5> <a href="@ViewBag.BannkerLinkNavigateUrl"> @ViewBag.BannerLinkText </a> </h5>
    </div>
    <div class="magi-left-sidebar-box2 px-2 py-3" style="background-color:@ViewBag.BackColorRGB;">
        <p>
            @Html.Raw(ViewBag.BannerMessage)
        </p>
    </div>
</div> 