<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/Portolostyle.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <title>Portolo</title>
    <meta name="description"
        content="A web design and development company with 10+ years of experience in building results-driven web solutions for your custom business needs." />
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar">
                        <div class="logo"><img src="~/Images/Icons/PortoloLogo.png" /></div>

                        <div class="push-left">
                            <button id="menu-toggler" data-class="menu-active" class="hamburger">
                                <span class="hamburger-line hamburger-line-top"></span>
                                <span class="hamburger-line hamburger-line-middle"></span>
                                <span class="hamburger-line hamburger-line-bottom"></span>
                            </button>

                            <!--  Menu compatible with wp_nav_menu  -->
                            <ul id="primary-menu" class="menu nav-menu">
                                <li class="menu-item current-menu-item"><a class="nav__link" href="#">Home</a></li>
                                <li class="menu-item dropdown">
                                    <a class="nav__link" href="#">About</a>
                                    <ul class="sub-nav">
                                        <li><a class="sub-nav__link" href="#">link 1</a></li>
                                        <li><a class="sub-nav__link" href="#">link 2</a></li>
                                        <li><a class="sub-nav__link" href="#">link 3 - long link - long link - long link</a></li>
                                    </ul>

                                </li>
                                <li class="menu-item dropdown">
                                    <a class="nav__link mr-0" href="#">Contact</a>
                                    <ul class="sub-nav">
                                        <li><a class="sub-nav__link" href="#">link 1</a></li>
                                        <li><a class="sub-nav__link" href="#">link 2</a></li>
                                        <li><a class="sub-nav__link" href="#">link 3 - long link - long link - long link</a></li>
                                    </ul>
                                </li>

                            </ul>


                        </div>
                    </nav>
                </div>
            </div>
        </div>

          
    </header>
    <div class="strip-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                  <div class="d-flex justify-content-between align-items-baseline">
                    <div class="botm-links">
                        <a href="">Task list</a>
                        <a href="">Score Card</a>
                        <a href="">Process Mapping Tools</a>
                        <a href="">My Profile</a>
                      </div>
                      <div class="log-in-out">
                          <button href="" class="brdr-1">Logout</button>
                      </div>
                  </div>
                </div>
            </div>
        </div>

    </div>

    <section class="task-list-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form>                        
                        <div class="control-icons">
                            <h2>Edit Task</h2>
                              <!-- <a href=""><i class="fa-solid fa-arrow-left"></i></a>  
                              <a href=""><i class="fa-solid fa-magnifying-glass"></i></a> -->
                            <div class="controls">
                              <button href="" class="brdr-1 btn-sm">Apply</button>
                              <button href="" class="brdr-1 btn-sm ">Save</button>
                              <button href="" class="brdr-1 btn-sm">Cancel</button>
                              <!-- <button href="" class="brdr-1 btn-sm">Download</button> -->
                            </div>
                           
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-box">
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Title</label>
                                        <input type="text" class="form-control form-control-sm">
                                      </div>
                                   
                                </div>
                                
                            </div>
                            <div class="col-lg-12 mt-5">

                                <div class="dash-tabs">
                                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                                      <li class="nav-item">
                                        <a class="nav-link active" id="planning-tab" data-toggle="tab" href="#planning" >Planning</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="tips-tab" data-toggle="tab" href="#tips"  >Tips</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#instruction" >Instructions</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#notes" >Notes</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#resources" >Resources</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#specs">Specifications</a>
                                      </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                      <div class="tab-pane fade show active p-3" id="planning" >
                                        <div class="form-boxs">
                                            <div class="row">

                                                <div class="form-group">
                                                    <label for="exampleFormControlTextarea1">Description</label>
                                                    <textarea class="form-control" id="Description" rows="3"></textarea>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label for="exampleFormControlSelect1">Category:</label>
                                                            <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label for="exampleFormControlSelect1">Status:</label>
                                                            <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 custm-checkbox">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                            <label class="form-check-label" for="defaultCheck1">
                                                                Default checkbox
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 custm-checkbox">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                            <label class="form-check-label" for="defaultCheck1">
                                                                Default checkbox
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label for="exampleFormControlSelect1">Status:</label>
                                                            <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="exampleFormControlSelect1">Plan Dates:</label>
                                                        <input type="date" class="form-control form-control-sm">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="exampleFormControlSelect1">Due Date:</label>
                                                        <input type="date" class="form-control form-control-sm">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="exampleFormControlSelect1">Forecast:</label>
                                                        <input type="date" class="form-control form-control-sm">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">

                                                </div>
                                            </div>
                                      </div></div>
                                      <div class="tab-pane fade p-3" id="tips" >...</div>
                                      <div class="tab-pane fade p-3" id="instruction" >consectetur adipisicing elit. Mollitia minima eum molestias libero corporis molestiae delectus obcaecati et. Quasi voluptates quia est minus dolores deserunt quos nam. Itaque, iste</div>
                                      <div class="tab-pane fade p-3" id="notes" >consectetur adipisicing elit. Mollitia minima eum molestias libero corporis molestiae delectus obcaecati et. Quasi voluptates quia est minus dolores deserunt quos nam. Itaque, iste</div>
                                      <div class="tab-pane fade p-3" id="resources" >consectetur adipisicing elit. Mollitia minima eum molestias libero corporis molestiae delectus obcaecati et. Quasi voluptates quia est minus dolores deserunt quos nam. Itaque, iste</div>
                                      <div class="tab-pane fade p-3" id="specs" >consectetur adipisicing elit. Mollitia minima eum molestias libero corporis molestiae delectus obcaecati et. Quasi voluptates quia est minus dolores deserunt quos nam. Itaque, iste</div>
                                      

                                    </div>
                                </div>
                            </div>
                        </div>
                        
             
                    </form>
                </div>
            </div>
        </div>
    </section>









  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <p>	© 2022 by Elimar Systems. All Rights Reserved <a href="#" class="ml-5">Website Terms of Use</a></p>
        </div>
      </div>
    </div>
  </footer>












    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     
 <script>
     $(document).ready(function() {
  // Toggle menu on click
  $("#menu-toggler").click(function() {
    toggleBodyClass("menu-active");
  });

  function toggleBodyClass(className) {
    document.body.classList.toggle(className);
  }

 });
 </script>
</body>
</html>