<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Portolostyle.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>
<body>


    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar">
                        <div class="logo">Portolo</div>
                        <div class="push-left">
                            <button id="menu-toggler" data-class="menu-active" class="hamburger">
                                <span class="hamburger-line hamburger-line-top"></span>
                                <span class="hamburger-line hamburger-line-middle"></span>
                                <span class="hamburger-line hamburger-line-bottom"></span>
                            </button>

                            <!--  Menu compatible with wp_nav_menu  -->
                            <ul id="primary-menu" class="menu nav-menu">
                                <li class="menu-item current-menu-item"><a class="nav__link" href="#">Home</a></li>
                                <li class="menu-item dropdown">
                                    <a class="nav__link" href="#">About</a>
                                    <ul class="sub-nav">
                                        <li><a class="sub-nav__link" href="#">link 1</a></li>
                                        <li><a class="sub-nav__link" href="#">link 2</a></li>
                                        <li><a class="sub-nav__link" href="#">link 3 - long link - long link - long link</a></li>
                                    </ul>

                                </li>
                                <li class="menu-item dropdown">
                                    <a class="nav__link mr-0" href="#">Contact</a>
                                    <ul class="sub-nav">
                                        <li><a class="sub-nav__link" href="#">link 1</a></li>
                                        <li><a class="sub-nav__link" href="#">link 2</a></li>
                                        <li><a class="sub-nav__link" href="#">link 3 - long link - long link - long link</a></li>
                                    </ul>
                                </li>

                            </ul>


                        </div>
                    </nav>
                </div>
            </div>
        </div>


    </header>

    <!--  -->
    <!--  -->
    <div class="strip-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-between">
                        <div class="botm-links">
                            <a href="~/Task/Index" target="_blank">Task list</a>
                            <a href="#">Score Card</a>
                            <a href="#">Process Mapping Tools</a>
                            <a href="#">My Profile</a>
                        </div>
                        <div class="log-in-out">
                            <img src="~/images/undraw_profile.svg" alt="profile img" /><a href="#"></a>
                            <a href="" class="brdr-1">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
